---
import Layout from "@/layouts/Layout.astro";
// Components
import Contact from "@/components/Contact.astro";
import Home from "@/components/Home.astro";
import LetterGlitch from "@/components/react/LetterGlitch";
import Projects from "@/components/Projects.astro";
import SkillsBar from "@/components/react/SkillsBar";
import SkillsSection from "@/components/SkillsSection.astro";
// Styles
import "../styles/global.css";
---

<Layout
  title="Portfolio de Romaric Yi, Concepteur Développeur d'Applications, Développeur Full Stack à Orléans"
>
  <Home />
  <SkillsBar client:visible />
  <div
    class="mx-auto flex max-w-7xl flex-col items-center gap-8 border-b border-base-content/20 pb-12 md:pb-16 lg:flex-row"
  >
    <SkillsSection />
    <div class="flex h-[292px] w-full justify-center pt-3 md:pt-9 lg:w-1/2">
      <LetterGlitch client:load />
    </div>
  </div>
  <Projects />
  <Contact />
</Layout>
