---
import GithubIcon from "@/assets/icons/GithubIcon.astro";
import LinkedinIcon from "@/assets/icons/LinkedinIcon.astro";
import LogoIcon from "@/assets/logo.tsx";
import MailIcon from "@/assets/icons/MailIcon.astro";
---

<footer>
  <div class="footer bg-neutral p-10 text-neutral-content sm:footer-horizontal">
    <aside>
      <LogoIcon width="50" height="50" className="h-8 w-8" />
      <p>
        Romaric YI
        <br />
        Concepteur Développeur d'Applications
      </p>
    </aside>
    <nav>
      <h3 class="footer-title opacity-80">Social</h3>
      <div class="grid grid-flow-col gap-4">
        <a
          href="https://github.com/yiroma"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
        >
          <GithubIcon />
        </a>
        <a
          href="https://www.linkedin.com/in/yiromaric/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <LinkedinIcon />
        </a>
        <a
          href="mailto:yiromaric@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Email"
        >
          <MailIcon />
        </a>
      </div>
    </nav>
  </div>
  <div
    class="footer-center footer bg-neutral p-4 pb-28 text-neutral-content sm:footer-horizontal md:pb-4"
  >
    <aside>
      <p>
        Copyright © {new Date().getFullYear()} -
        <a
          href="https://github.com/Yiroma"
          class="underline"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Lien vers GitHub de Romaric Yi"
        >
          Yiroma
        </a> - Tous droits réservés.
      </p>
    </aside>
  </div>
</footer>
