---
import GithubIcon from "@/assets/icons/GithubIcon.astro";
import LinkedinIcon from "@/assets/icons/LinkedinIcon.astro";
import MailIcon from "@/assets/icons/MailIcon.astro";

const links = [
  {
    name: "github",
    label: "Voir mon profil GitHub",
    url: "https://github.com/yiroma",
    icon: GithubIcon,
  },
  {
    name: "linkedin",
    label: "Me contacter sur LinkedIn",
    url: "https://www.linkedin.com/in/yiromaric/",
    icon: LinkedinIcon,
  },
  {
    name: "mail",
    label: "M'envoyer un email",
    url: "mailto:yiromaric@gmail.com?subject=Contact%20depuis%20votre%20portfolio",
    icon: MailIcon,
  },
];
---

<section id="home" class="hero">
  <div class="hero-content flex-col items-start">
    <p class="text-base text-base-content/80 md:text-lg">
      Bonjour, je suis <span class="text-primary">Romaric Yi</span>
    </p>
    <div class="flex flex-col gap-4 lg:flex-row lg:justify-between lg:gap-12">
      <h1 class="max-w-[600px] text-5xl leading-tight font-bold">
        <span class="sr-only">Romaric YI, </span>Concepteur Développeur d'Applications
      </h1>
      <p class="py-6 text-base text-base-content/80 md:text-xl lg:text-2xl">
        Avec un profil polyvalent pour le développement web moderne, je contribue à la réussite des
        projets digitaux, de la <span class="text-primary">conception</span> à la
        <span class="text-primary">mise en production</span>.
      </p>
    </div>
    <div class="md-0 flex gap-4 md:mt-8">
      {
        links.map((link) => (
          <a
            href={link.url}
            aria-label={link.label}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-square size-12 btn-neutral md:size-16"
          >
            <link.icon class="size-8" />
            <span class="sr-only">{link.label}</span>
          </a>
        ))
      }
    </div>
  </div>
</section>
