---
import GithubIcon from "@/assets/icons/GithubIcon.astro";
import LinkedinIcon from "@/assets/icons/LinkedinIcon.astro";
import MailIcon from "@/assets/icons/MailIcon.astro";

const links = [
  {
    name: "github",
    url: "https://github.com/yiroma",
    icon: GithubIcon,
  },
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/yiromaric/",
    icon: LinkedinIcon,
  },
  {
    name: "mail",
    url: "mailto:yiromaric@gmail.com",
    icon: MailIcon,
  },
];
---

<section id="home" class="hero p-8">
  <div class="hero-content flex-col items-start gap-4">
    <p class="text-base text-base-content/80 md:text-lg">
      Bonjour, je suis <span class="text-primary">Yi Romaric</span>
    </p>
    <div class="flex flex-col gap-4 md:flex-row md:gap-12">
      <h1 class="max-w-md text-5xl font-semibold lg:w-1/3">
        Concepteur Développeur d'Applications
      </h1>
      <p class="max-w-lg py-6 text-base text-base-content/80 md:text-xl lg:w-2/3 lg:text-2xl">
        Avec un profil polyvalent pour le développement web moderne, je contribue à la réussite des
        projets digitaux, de la <span class="text-primary">conception</span> à la
        <span class="text-primary">mise en production</span>.
      </p>
    </div>
    <div class="mt-8 flex gap-4">
      {
        links.map((link) => (
          <a href={link.url} target="_blank" class="btn btn-square size-16 btn-neutral">
            <link.icon class="size-10" />
          </a>
        ))
      }
    </div>
  </div>
</section>
