---
import GithubIcon from "@/assets/icons/GithubIcon.astro";
import LinkedinIcon from "@/assets/icons/LinkedinIcon.astro";
import MailIcon from "@/assets/icons/MailIcon.astro";

const links = [
  {
    name: "github",
    label: "Voir mon profil GitHub",
    url: "https://github.com/yiroma",
    icon: GithubIcon,
  },
  {
    name: "linkedin",
    label: "Me contacter sur LinkedIn",
    url: "https://www.linkedin.com/in/yiromaric/",
    icon: LinkedinIcon,
  },
  {
    name: "mail",
    label: "M'envoyer un email",
    url: "https://mail.google.com/mail/u/0/?fs=1&to=yiromaric@gmail.com&su=Bonjour+Romaric+!&tf=cm",
    icon: MailIcon,
  },
];
---

<h1 class="sr-only">
  Portfolio de Romaric Yi, Concepteur Développeur d'Applications, Développeur Full Stack à Orléans
</h1>
<section id="home" class="hero">
  <div class="hero-content flex-col items-start md:px-16">
    <p class="text-base text-base-content/80 md:text-lg">
      Bonjour, je suis <span class="text-primary">Romaric Yi</span>
    </p>
    <div class="flex flex-col gap-4 lg:flex-row lg:gap-12">
      <h2 class="max-w-sm text-5xl font-bold lg:w-1/3">Concepteur Développeur d'Applications</h2>
      <p class="max-w-xl py-6 text-base text-base-content/80 md:text-xl lg:w-2/3 lg:text-2xl">
        Avec un profil polyvalent pour le développement web moderne, je contribue à la réussite des
        projets digitaux, de la <span class="text-primary">conception</span> à la
        <span class="text-primary">mise en production</span>.
      </p>
    </div>
    <div class="md-0 flex gap-4 md:mt-8">
      {
        links.map((link) => (
          <a
            href={link.url}
            aria-label={link.label}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-square size-12 btn-neutral md:size-16"
          >
            <link.icon class="size-8" />
            <span class="sr-only">{link.label}</span>
          </a>
        ))
      }
    </div>
  </div>
</section>
