---
import Api from "@/assets/icons/api.svg";
import Docker from "@/assets/icons/docker.svg";
import Eslint from "@/assets/icons/eslint.svg";
import Express from "@/assets/icons/express.svg";
import Figma from "@/assets/icons/figma.svg";
import Git from "@/assets/icons/git.svg";
import Github from "@/assets/icons/github.svg";
import Graphql from "@/assets/icons/graphql.svg";
import Husky from "@/assets/icons/husky.svg";
import Jest from "@/assets/icons/jest.svg";
import Mysql from "@/assets/icons/mysql.svg";
import Nextjs from "@/assets/icons/next.svg";
import Nginx from "@/assets/icons/nginx.svg";
import Nodejs from "@/assets/icons/node.svg";
import Playwright from "@/assets/icons/playwright.svg";
import Postgresql from "@/assets/icons/postgre.svg";
import Prettier from "@/assets/icons/prettier.svg";
import React from "@/assets/icons/react.svg";
import Redis from "@/assets/icons/redis.svg";
import Shadcn from "@/assets/icons/shadcnui.svg";
import Tailwind from "@/assets/icons/tailwindcss.svg";
import Typescript from "@/assets/icons/typescript.svg";

const skills = {
  frontend: [
    {
      name: "React.js",
      icon: React,
    },
    {
      name: "Next.js",
      icon: Nextjs,
    },
    {
      name: "Typescript",
      icon: Typescript,
    },

    {
      name: "Tailwind CSS",
      icon: Tailwind,
    },
    {
      name: "Shadcn/UI",
      icon: Shadcn,
    },
    {
      name: "Figma",
      icon: Figma,
    },
  ],
  backend: [
    {
      name: "Node.js",
      icon: Nodejs,
    },
    {
      name: "Express.js",
      icon: Express,
    },
    {
      name: "REST API",
      icon: Api,
    },
    {
      name: "GraphQL",
      icon: Graphql,
    },
    {
      name: "Apollo",
      icon: Graphql,
    },
    {
      name: "MySQL",
      icon: Mysql,
    },
    {
      name: "PostgreSQL",
      icon: Postgresql,
    },
    {
      name: "Redis",
      icon: Redis,
    },
  ],
  toolsAndDevOps: [
    {
      name: "Docker",
      icon: Docker,
    },
    {
      name: "Nginx",
      icon: Nginx,
    },
    {
      name: "Git",
      icon: Git,
    },
    {
      name: "Github",
      icon: Github,
    },
    {
      name: "ESLint",
      icon: Eslint,
    },
    {
      name: "Prettier",
      icon: Prettier,
    },
    {
      name: "Husky",
      icon: Husky,
    },
    {
      name: "Jest",
      icon: Jest,
    },
    {
      name: "Playwright",
      icon: Playwright,
    },
  ],
};
---

<div class="flex flex-col gap-4">
  <h2 class="text-2xl font-bold">Technologies</h2>
  <!-- frontend skills -->
  <ul class="flex flex-wrap gap-8">
    {
      skills.frontend.map((skill: any) => (
        <li class="flex items-center gap-2">
          <skill.icon class="h-6 w-6 fill-base-content" />
          <span class="font-title text-lg">{skill.name}</span>
        </li>
      ))
    }
  </ul>
  <!-- backend skills -->
  <ul class="flex flex-wrap gap-8">
    {
      skills.backend.map((skill: any) => (
        <li class="flex items-center gap-2">
          <skill.icon class="h-6 w-6 fill-base-content" />
          <span class="font-title text-lg">{skill.name}</span>
        </li>
      ))
    }
  </ul>
  <!-- tools and devops skills -->
  <ul class="flex flex-wrap gap-8">
    {
      skills.toolsAndDevOps.map((skill: any) => (
        <li class="flex items-center gap-2">
          <skill.icon class="h-6 w-6 fill-base-content" />
          <span class="font-title text-lg">{skill.name}</span>
        </li>
      ))
    }
  </ul>
</div>
